# **Exploratory Data Analysis**

---
---

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile

In [7]:
clean_df = pd.read_csv('../data/processed/clean_pollutants.csv')
clean_df

,FECHA,PROVINCIA,N_MUNICIPIO,ESTACION,MAGNITUD,H01,H02,H03,H04,H05,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,2022-01-04,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,0.16,0.16,0.18,0.18,0.14,...,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
1,2022-01-05,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,0.23,0.26,0.22,0.20,0.21,...,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
2,2022-01-06,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,0.36,0.31,0.32,0.33,0.32,...,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28
3,2022-01-07,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,0.25,0.24,0.25,0.26,0.32,...,0.28,0.29,0.28,0.32,0.31,0.23,0.25,0.29,0.29,0.28
4,2022-01-08,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,0.25,0.25,0.23,0.23,0.32,...,0.25,0.20,0.23,0.25,0.25,0.23,0.20,0.22,0.22,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719277,2022-12-13,CEUTA,CEUTA,1,SO2,1.53,1.33,1.58,1.41,1.43,...,2.22,2.43,3.32,6.62,19.11,17.15,8.29,29.35,24.51,24.16
719278,2022-12-16,CEUTA,CEUTA,1,SO2,1.64,1.50,1.47,1.44,1.58,...,15.03,25.54,12.58,38.78,17.84,8.01,11.66,3.28,5.70,5.62
719279,2022-12-25,CEUTA,CEUTA,1,SO2,2.30,2.15,2.17,2.05,1.82,...,2.72,2.27,2.07,2.00,1.79,1.65,1.68,1.39,1.30,1.28
719280,2022-12-26,CEUTA,CEUTA,1,SO2,1.40,1.22,1.22,1.11,1.04,...,3.31,3.77,2.82,2.47,2.79,2.77,2.66,2.51,2.42,2.52
719281,2022-12-28,CEUTA,CEUTA,1,SO2,1.68,1.40,1.52,1.66,1.53,...,1.88,1.71,1.66,1.70,1.58,2.12,1.61,1.57,1.88,1.62

In [8]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 719282 entries, 0 to 719281
Data columns (total 29 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   FECHA        719282 non-null  object
 1   PROVINCIA    719282 non-null  object
 2   N_MUNICIPIO  718259 non-null  object
 3   ESTACION     719282 non-null  int64
 4   MAGNITUD     719282 non-null  object
 5   H01          719282 non-null  float64
 6   H02          719282 non-null  float64
 7   H03          719282 non-null  float64
 8   H04          719282 non-null  float64
 9   H05          719282 non-null  float64
 10  H06          719282 non-null  float64
 11  H07          719282 non-null  float64
 12  H08          719282 non-null  float64
 13  H09          719282 non-null  float64
 14  H10          719282 non-null  float64
 15  H11          719282 non-null  float64
 16  H12          719282 non-null  float64
 17  H13          719282 non-null  float64
 18  H14          719282 non-null  float64
 19  H15          719282 non-null  float64
 20  H16          719282 non-null  float64
 21  H17          719282 non-null  float64
 22  H18          719282 non-null  float64
 23  H19          719282 non-null  float64
 24  H20          719282 non-null  float64
 25  H21          719282 non-null  float64
 26  H22          719282 non-null  float64
 27  H23          719282 non-null  float64
 28  H24          719282 non-null  float64
dtypes: float64(24), int64(1), object(4)
memory usage: 159.1+ MB