# **Air Quality**

---
---

# Data Pre-processing

In [36]:
# Import of libraries
import pandas as pd
#pip install pandas openpyxl (para leer excels)
import numpy as np
import folium
import matplotlib.pyplot as plt
import seaborn as sns

#### **Upload and view the polluting data for Spain in 2020**
- Concatenate the files to be able to work better with them.
- Process the data before the EDA.

In [37]:
C6H6_HH_22 = pd.read_csv('../data/raw/time data 2022/C6H6_HH_2022.csv', sep = ';')
CO_HH_22 = pd.read_csv('../data/raw/time data 2022/CO_HH_2022.csv', sep= ';')
NO2_HH_22 = pd.read_csv('../data/raw/time data 2022/NO2_HH_2022.csv', sep = ';')
NOx_HH_22 = pd.read_csv('../data/raw/time data 2022/NOx_HH_2022.csv', sep = ';')
O3_HH_22 = pd.read_csv('../data/raw/time data 2022/O3_HH_2022.csv', sep = ';')
PM10_HH_22 = pd.read_csv('../data/raw/time data 2022/PM10_HH_2022.csv', sep = ';')
PM25_HH_22 = pd.read_csv('../data/raw/time data 2022/PM25_HH_2022.csv', sep = ';')
SO2_HH_22 = pd.read_csv('../data/raw/time data 2022/SO2_HH_2022.csv', sep = ';')

In [38]:
pollutants = pd.concat([C6H6_HH_22, CO_HH_22, NO2_HH_22, NOx_HH_22, O3_HH_22, PM10_HH_22, PM25_HH_22, SO2_HH_22])
print(pollutants.shape)

(819614, 32)

In [39]:
pollutants.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,DIA,H01,H02,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,1,59,8,30,01059008_30_59,2022,1,1,1.58,0.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,59,8,30,01059008_30_59,2022,1,3,NaN,NaN,...,0.23,0.22,0.23,0.58,0.24,0.54,0.69,0.32,0.17,0.17
2,1,59,8,30,01059008_30_59,2022,1,4,0.16,0.16,...,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
3,1,59,8,30,01059008_30_59,2022,1,5,0.23,0.26,...,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
4,1,59,8,30,01059008_30_59,2022,1,6,0.36,0.31,...,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28

In [40]:
pollutants.to_csv('../data/interim/pollutants.csv', index= False)
pollutants = pd.read_csv('../data/interim/pollutants.csv')

In [41]:
total_nan = pollutants.isna().sum().sum()
total_nan

367595

In [42]:
row_nan = pollutants.isna().any(axis=1).sum()
row_nan

100332

In [43]:
# pollutants = pollutants.dropna()
# pollutants

In [44]:
measured_excel = pd.read_excel('../data/raw/Metainformacion2022.xlsx', sheet_name= 'Magnitudes')
measured_excel.head(14)

,MAGNITUD,NOMBRE,ABREVIATURA,UNIDAD,GRUPO
0,1,DIÓXIDO DE AZUFRE,SO2,µg/m3,Contaminantes con valor legislado
1,6,MONÓXIDO DE CARBONO,CO,mg/m3,Contaminantes con valor legislado
2,7,MONÓXIDO DE NITRÓGENO,NO,µg/m3,NaN
3,8,DIÓXIDO DE NITRÓGENO,NO2,µg/m3,Contaminantes con valor legislado
4,9,"PARTÍCULAS EN SUSPENSIÓN <2,5µM",PM2.5,µg/m3,Contaminantes con valor legislado
5,10,PARTÍCULAS EN SUSPENSIÓN <10µM,PM10,µg/m3,Contaminantes con valor legislado
6,12,ÓXIDOS DE NITRÓGENO TOTALES,NOX,µg/m3 NO2,Contaminantes con valor legislado
7,14,OZONO,O3,µg/m3,Contaminantes con valor legislado
8,17,ARSENICO (PM10),As,ng/m3,Contaminantes con valor legislado
9,19,PLOMO (PM10),Pb,µg/m3,Contaminantes con valor legislado
10,27,BENZO(A)PIRENO (PM10),BAP,ng/m3,Contaminantes con valor legislado
11,28,CADMIO (PM10),Cd,ng/m3,Contaminantes con valor legislado
12,30,BENCENO,C6H6,µg/m3,Contaminantes con valor legislado
13,62,NÍQUEL (PM10),NI,ng/m3,Contaminantes con valor legislado

In [45]:
# Leer una hoja específica del archivo Excel
stations_excel= pd.read_excel('../data/raw/Metainformacion2022.xlsx', sheet_name='Estaciones')
stations_excel.head(3)

,COD_LOCAL,PROVINCIA,MUNICIPIO,ESTACION,COD_ESTACION_DEM,N_RED,NOMBRE,FECHA_INI,FECHA_FIN,LATITUD_G,...,ALTITUD,N_CCAA,N_PROVINCIA,N_MUNICIPIO,TIPO_ESTACION,TIPO_AREA,TIPO_SUBAREA_RURAL,EST,ZONA,DIRECCION
0,1022001,1,22,1,ES1672A,CCAA País Vasco,EL CIEGO,2004-05-10,NaT,42.51833,...,480,PAÍS VASCO,ÁLAVA,ELCIEGO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL,"C/GABRIEL CELAYA 8, ELCIEGO"
1,1036004,1,36,4,ES1349A,CCAA País Vasco,LLODIO,1994-01-01,NaT,43.14407,...,122,PAÍS VASCO,ÁLAVA,LLODIO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL/COMERCIAL,"C/ LAMUZA, S/N"
2,1051001,1,51,1,ES1544A,CCAA País Vasco,AGURAIN,1998-01-01,NaT,42.84900,...,594,PAÍS VASCO,ÁLAVA,SALVATIERRA O AGURAIN,FONDO,SUBURBANA,NaN,SF,RESIDENCIAL/INDUSTRIAL,CUARTEL DE LA ERTZANTZA

In [46]:
columnas_a_modificar = ['LATITUD_G', 'LONGITUD_G']

for columna in columnas_a_modificar:
    # Asegurarse de que todos los valores no-NaN sean strings
    # y aplicar la operación de reemplazo
    stations_excel[columna] = stations_excel[columna].apply(lambda x: str(x).replace(',', '.') if pd.notnull(x) else x)

# Después de asegurarse de que todos los valores son strings y de reemplazar las comas
# Convertimos toda la columna a float
for columna in columnas_a_modificar:
    stations_excel[columna] = stations_excel[columna].astype(float)

stations_excel.head()

,COD_LOCAL,PROVINCIA,MUNICIPIO,ESTACION,COD_ESTACION_DEM,N_RED,NOMBRE,FECHA_INI,FECHA_FIN,LATITUD_G,...,ALTITUD,N_CCAA,N_PROVINCIA,N_MUNICIPIO,TIPO_ESTACION,TIPO_AREA,TIPO_SUBAREA_RURAL,EST,ZONA,DIRECCION
0,1022001,1,22,1,ES1672A,CCAA País Vasco,EL CIEGO,2004-05-10,NaT,42.51833,...,480,PAÍS VASCO,ÁLAVA,ELCIEGO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL,"C/GABRIEL CELAYA 8, ELCIEGO"
1,1036004,1,36,4,ES1349A,CCAA País Vasco,LLODIO,1994-01-01,NaT,43.14407,...,122,PAÍS VASCO,ÁLAVA,LLODIO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL/COMERCIAL,"C/ LAMUZA, S/N"
2,1051001,1,51,1,ES1544A,CCAA País Vasco,AGURAIN,1998-01-01,NaT,42.84900,...,594,PAÍS VASCO,ÁLAVA,SALVATIERRA O AGURAIN,FONDO,SUBURBANA,NaN,SF,RESIDENCIAL/INDUSTRIAL,CUARTEL DE LA ERTZANTZA
3,1055001,1,55,1,ES1489A,CCAA País Vasco,VALDEREJO,1998-01-01,NaT,42.87520,...,911,PAÍS VASCO,ÁLAVA,VALDEGOVÍA,FONDO,RURAL,REMOTA,RFREM,NATURALEZA,PARQUE NATURAL DE VALDEREJO
4,1059008,1,59,8,ES1502A,CCAA País Vasco,AVENIDA GASTEIZ,1998-01-01,NaT,42.85480,...,517,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,TRAFICO,URBANA,NaN,UT,RESIDENCIAL/COMERCIAL,"AVDA. GASTEIZ, 93"

In [47]:
# Crear un mapa base
m = folium.Map(location=[stations_excel['LATITUD_G'].mean(), stations_excel['LONGITUD_G'].mean()], zoom_start=6)

# Añadir puntos al mapa
for idx, row in stations_excel.iterrows():
    folium.Marker(location=[row['LATITUD_G'], row['LONGITUD_G']],
                  popup=row['N_MUNICIPIO'] if 'NombrePunto' in stations_excel.columns else "Sin Nombre").add_to(m)

# Guardar el mapa en un archivo HTML
m.save('mapa.html')
#Aqui no se ve nada, creo que hay qeu hacerlo en un navegador normal
# Si descargamos en nuestro sistema y lo ejecutamos, abre directamente una web con el mapa creado

In [48]:
pollutants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819614 entries, 0 to 819613
Data columns (total 32 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PROVINCIA       819614 non-null  int64
 1   MUNICIPIO       819614 non-null  int64
 2   ESTACION        819614 non-null  int64
 3   MAGNITUD        819614 non-null  int64
 4   PUNTO_MUESTREO  819614 non-null  object
 5   ANNO            819614 non-null  int64
 6   MES             819614 non-null  int64
 7   DIA             819614 non-null  int64
 8   H01             809146 non-null  float64
 9   H02             809010 non-null  float64
 10  H03             807769 non-null  float64
 11  H04             808729 non-null  float64
 12  H05             809302 non-null  float64
 13  H06             807322 non-null  float64
 14  H07             804602 non-null  float64
 15  H08             798578 non-null  float64
 16  H09             791779 non-null  float64
 17  H10             787255 non-null  float64
 18  H11             786748 non-null  float64
 19  H12             790672 non-null  float64
 20  H13             797179 non-null  float64
 21  H14             802879 non-null  float64
 22  H15             806214 non-null  float64
 23  H16             807831 non-null  float64
 24  H17             809511 non-null  float64
 25  H18             810010 non-null  float64
 26  H19             810328 non-null  float64
 27  H20             810473 non-null  float64
 28  H21             810117 non-null  float64
 29  H22             810239 non-null  float64
 30  H23             809713 non-null  float64
 31  H24             807735 non-null  float64
dtypes: float64(24), int64(7), object(1)
memory usage: 200.1+ MB

In [49]:
pollutants.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,DIA,H01,H02,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,1,59,8,30,01059008_30_59,2022,1,1,1.58,0.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,59,8,30,01059008_30_59,2022,1,3,NaN,NaN,...,0.23,0.22,0.23,0.58,0.24,0.54,0.69,0.32,0.17,0.17
2,1,59,8,30,01059008_30_59,2022,1,4,0.16,0.16,...,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
3,1,59,8,30,01059008_30_59,2022,1,5,0.23,0.26,...,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
4,1,59,8,30,01059008_30_59,2022,1,6,0.36,0.31,...,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28

In [50]:
# Crear una columna 'fecha' con el año, mes y día
pollutants['FECHA'] = pd.to_datetime(pollutants[['ANNO', 'MES', 'DIA']].astype(str).agg('-'.join, axis=1), errors='coerce', format='%Y-%m-%d')
pollutants.drop(["ANNO", "MES", "DIA"], axis=1, inplace=True)

In [51]:
# Crear diccionario de las magnitudes
measured_dict = {}

for index, row in measured_excel.iterrows():
    measured_dict[row['MAGNITUD']] = row['ABREVIATURA']

measured_dict

{1: 'SO2',
 6: 'CO',
 7: 'NO',
 8: 'NO2',
 9: 'PM2.5',
 10: 'PM10',
 12: 'NOX',
 14: 'O3',
 17: 'As',
 19: 'Pb',
 27: 'BAP',
 28: 'Cd',
 30: 'C6H6',
 62: 'NI'}

In [52]:
pollutants.drop(["PUNTO_MUESTREO"], axis=1, inplace=True)

In [53]:
# Suponiendo que las dos claves son 'CLAVE1' y 'CLAVE2' y el valor es 'VALOR'
diccionario_municipios = {(row['PROVINCIA'], row['MUNICIPIO']): row['N_MUNICIPIO'] for index, row in stations_excel.iterrows()}
diccionario_municipios

{(1, 22): 'ELCIEGO',
 (1, 36): 'LLODIO',
 (1, 51): 'SALVATIERRA O AGURAIN',
 (1, 55): 'VALDEGOVÍA',
 (1, 59): 'VITORIA-GASTEIZ',
 (2, 3): 'ALBACETE',
 (3, 2): 'AGOST',
 (3, 9): 'ALCOY/ALCOI',
 (3, 14): 'ALICANTE/ALACANT',
 (3, 31): 'BENIDORM',
 (3, 65): 'ELCHE/ELX',
 (3, 66): 'ELDA',
 (3, 99): 'ORIHUELA',
 (3, 105): 'PINOSO',
 (3, 133): 'TORREVIEJA',
 (4, 13): 'ALMERÍA',
 (4, 22): 'BÉDAR',
 (4, 24): 'BENAHADUX',
 (4, 32): 'CARBONERAS',
 (4, 35): 'CUEVAS DEL ALMANZORA',
 (4, 66): 'NÍJAR',
 (4, 902): 'EJIDO (EL)',
 (5, 19): 'ÁVILA',
 (6, 15): 'BADAJOZ',
 (6, 16): 'BARCARROTA',
 (6, 22): 'BURGUILLOS DEL CERRO',
 (6, 70): 'JEREZ DE LOS CABALLEROS',
 (6, 81): 'MEDINA DE LAS TORRES',
 (6, 83): 'MÉRIDA',
 (6, 158): 'ZAFRA',
 (7, 3): 'ALCÚDIA',
 (7, 10): 'BUNYOLA',
 (7, 15): 'CIUTADELLA DE MENORCA',
 (7, 19): 'ESCORCA',
 (7, 26): 'EIVISSA',
 (7, 32): 'MAHÓN',
 (7, 40): 'PALMA DE MALLORCA',
 (7, 42): 'POLLENÇA',
 (7, 44): 'POBLA (SA)',
 (7, 46): 'SANT ANTONI DE PORTMANY',
 (7, 54): 'SANTA EULALIA DEL RÍO',
 (8, 14): 'AIGUAFREDA',
 (8, 15): 'BADALONA',
 (8, 19): 'BARCELONA',
 (8, 22): 'BERGA',
 (8, 54): 'CASTELLBISBAL',
 (8, 74): 'CUBELLES',
 (8, 89): 'GAVÀ',
 (8, 96): 'GRANOLLERS',
 (8, 101): "HOSPITALET DE LLOBREGAT (L')",
 (8, 102): 'IGUALADA',
 (8, 112): 'MANLLEU',
 (8, 113): 'MANRESA',
 (8, 114): 'MARTORELL',
 (8, 121): 'MATARÓ',
 (8, 123): 'MOLINS DE REI',
 (8, 124): 'MOLLET DEL VALLÈS',
 (8, 125): 'MONTCADA I REIXAC',
 (8, 136): 'MONTORNÈS DEL VALLÈS',
 (8, 137): 'MONTSENY',
 (8, 157): 'PALLEJÀ',
 (8, 169): 'PRAT DE LLOBREGAT (EL)',
 (8, 184): 'RUBÍ',
 (8, 187): 'SABADELL',
 (8, 194): 'SANT ADRIÀ DE BESÒS',
 (8, 196): 'SANT ANDREU DE LA BARCA',
 (8, 202): 'SANT CELONI',
 (8, 205): 'SANT CUGAT DEL VALLÈS',
 (8, 245): 'SANTA COLOMA DE GRAMENET',
 (8, 251): 'SANTA MARGARIDA I ELS MONJOS',
 (8, 252): 'BARBERÀ DEL VALLÈS',
 (8, 259): 'SANTA MARIA DE PALAUTORDERA',
 (8, 260): 'SANTA PERPÈTUA DE MOGODA',
 (8, 263): 'SANT VICENÇ DELS HORTS',
 (8, 274): 'SÚRIA',
 (8, 279): 'TERRASSA',
 (8, 282): 'TIANA',
 (8, 283): 'TONA',
 (8, 298): 'VIC',
 (8, 301): 'VILADECANS',
 (8, 305): 'VILAFRANCA DEL PENEDÈS',
 (8, 307): 'VILANOVA I LA GELTRÚ',
 (9, 18): 'ARANDA DE DUERO',
 (9, 59): 'BURGOS',
 (9, 209): 'MEDINA DE POMAR',
 (9, 219): 'MIRANDA DE EBRO',
 (10, 37): 'CÁCERES',
 (10, 148): 'PLASENCIA',
 (10, 182): 'TORIL',
 (11, 4): 'ALGECIRAS',
 (11, 6): 'ARCOS DE LA FRONTERA',
 (11, 8): 'BARRIOS (LOS)',
 (11, 12): 'CÁDIZ',
 (11, 20): 'JEREZ DE LA FRONTERA',
 (11, 22): 'LÍNEA DE LA CONCEPCIÓN (LA)',
 (11, 26): 'PRADO DEL REY',
 (11, 28): 'PUERTO REAL',
 (11, 31): 'SAN FERNANDO',
 (11, 33): 'SAN ROQUE',
 (12, 5): "ALCORA (L')",
 (12, 9): 'ALMAZORA/ALMASSORA',
 (12, 28): 'BENICASIM/BENICÀSSIM',
 (12, 32): 'BURRIANA',
 (12, 40): 'CASTELLÓN DE LA PLANA/CASTELLÓ DE LA PLANA',
 (12, 46): 'CIRAT',
 (12, 80): 'MORELLA',
 (12, 84): 'ONDA',
 (12, 93): 'POBLA DE BENIFASSÀ (LA)',
 (12, 99): 'SAN JORGE',
 (12, 120): 'TORRE ENDOMÉNECH',
 (12, 124): "VALL D'ALBA",
 (12, 126): "VALL D'UIXÓ (LA)",
 (12, 129): 'VILLAFRANCA DEL CID',
 (12, 135): 'VILLARREAL/VILA-REAL',
 (12, 140): 'VIVER',
 (12, 141): 'ZORITA DEL MAESTRAZGO',
 (13, 34): 'CIUDAD REAL',
 (13, 71): 'PUERTOLLANO',
 (14, 21): 'CÓRDOBA',
 (14, 26): 'ESPIEL',
 (14, 47): 'OBEJO',
 (14, 68): 'VILLAHARTA',
 (15, 5): 'ARTEIXO',
 (15, 23): 'CEE',
 (15, 24): 'CERCEDA',
 (15, 30): 'CORUÑA (A)',
 (15, 32): 'CURTIS',
 (15, 34): 'DUMBRÍA',
 (15, 36): 'FERROL',
 (15, 41): 'LARACHA',
 (15, 55): 'NEDA',
 (15, 57): 'NOIA',
 (15, 59): 'ORDES',
 (15, 70): 'PONTES DE GARCÍA RODRÍGUEZ (AS)',
 (15, 78): 'SANTIAGO DE COMPOSTELA',
 (16, 78): 'CUENCA',
 (17, 1): 'AGULLANA',
 (17, 13): 'BEGUR',
 (17, 22): "BISBAL D'EMPORDÀ (LA)",
 (17, 27): 'BREDA',
 (17, 32): 'CADAQUÉS',
 (17, 44): 'CASSÀ DE LA SELVA',
 (17, 79): 'GIRONA',
 (17, 125): 'PARDINES',
 (17, 184): 'SANTA PAU',
 (18, 21): 'ARMILLA',
 (18, 87): 'GRANADA',
 (18, 140): 'MOTRIL',
 (18, 189): 'VÍZNAR',
 (19, 46): 'AZUQUECA DE HENARES',
 (19, 61): 'CAMPISÁBALOS',
 (19, 130): 'GUADALAJARA',
 (20, 9): 'ANDOAIN',
 (20, 16): 'AIA',
 (20, 18): 'AZPEITIA',
 (20, 19): 'BEASAIN',
 (20, 36): 'HONDARRIBIA',
 (20, 40): 'HERNANI',
 (20, 55): 'ARRASATE O MONDRAGÓN',
 (20, 69): 'DONOSTIA-SAN SEBASTIÁN',
 (20, 71): 'TOLOSA',
 (20, 73): 'USURBIL',
 (20, 80): 'ZUMARRAGA',
 (20, 902): 'LASARTE-ORIA',
 (21, 5): 'ALMONTE',
 (21, 41): 'HUELVA',
 (21, 50): 'MOGUER',
 (21, 53): 'NIEBLA',
 (21, 55): 'PALOS DE LA FRONTERA',
 (21, 60): 'PUNTA UMBRÍA',
 (21, 64): 'SAN JUAN DEL PUERTO',
 (22, 125): 'HUESCA',
 (22, 158): 'MONZÓN',
 (22, 190): 'PUEYO DE ARAGUÁS (EL)',
 (22, 199): 'SABIÑÁNIGO',
 (22, 213): 'SARIÑENA',
 (23, 10): 'BAILÉN',
 (23, 50): 'JAÉN',
 (23, 97): 'VILLANUEVA DEL ARZOBISPO',
 (24, 25): 'BURÓN',
 (24, 38): 'CARRACEDELO',
 (24, 64): 'CUBILLOS DEL SIL',
 (24, 89): 'LEÓN',
 (24, 115): 'PONFERRADA',
 (24, 134): 'ROBLA (LA)',
 (24, 143): 'SANCEDO',
 (24, 181): 'VALDERAS',
 (25, 51): 'BELLVER DE CERDANYA',
 (25, 119): 'JUNEDA',
 (25, 120): 'LLEIDA',
 (25, 172): 'PONTS',
 (25, 196): 'SANT ESTEVE DE LA SARGA',
 (25, 209): 'SORT',
 (25, 224): 'TORMS (ELS)',
 (26, 11): 'ALFARO',
 (26, 19): 'ARRÚBAL',
 (26, 66): 'GALILEA',
 (26, 89): 'LOGROÑO',
 (26, 117): 'PRADEJÓN',
 (27, 13): 'CERVO',
 (27, 25): 'XOVE',
 (27, 28): 'LUGO',
 (27, 33): 'MURAS',
 (27, 38): 'OUROL',
 (27, 57): 'SARRIA',
 (27, 58): 'SAVIÑAO (O)',
 (27, 65): 'VILALBA',
 (27, 902): 'BURELA',
 (28, 5): 'ALCALÁ DE HENARES',
 (28, 6): 'ALCOBENDAS',
 (28, 7): 'ALCORCÓN',
 (28, 9): 'ALGETE',
 (28, 13): 'ARANJUEZ',
 (28, 14): 'ARGANDA DEL REY',
 (28, 16): 'ATAZAR (EL)',
 (28, 45): 'COLMENAR VIEJO',
 (28, 47): 'COLLADO VILLALBA',
 (28, 49): 'COSLADA',
 (28, 58): 'FUENLABRADA',
 (28, 65): 'GETAFE',
 (28, 67): 'GUADALIX DE LA SIERRA',
 (28, 74): 'LEGANÉS',
 (28, 79): 'MADRID',
 (28, 80): 'MAJADAHONDA',
 (28, 92): 'MÓSTOLES',
 (28, 102): 'ORUSCO DE TAJUÑA',
 (28, 120): 'RASCAFRÍA',
 (28, 123): 'RIVAS-VACIAMADRID',
 (28, 133): 'SAN MARTÍN DE VALDEIGLESIAS',
 (28, 148): 'TORREJÓN DE ARDOZ',
 (28, 161): 'VALDEMORO',
 (28, 171): 'VILLA DEL PRADO',
 (28, 180): 'VILLAREJO DE SALVANÉS',
 (29, 32): 'CAMPILLOS',
 (29, 67): 'MÁLAGA',
 (29, 69): 'MARBELLA',
 (30, 5): 'ALCANTARILLA',
 (30, 15): 'CARAVACA DE LA CRUZ',
 (30, 16): 'CARTAGENA',
 (30, 24): 'LORCA',
 (30, 30): 'MURCIA',
 (31, 10): 'ALTSASU/ALSASUA',
 (31, 107): 'FUNES',
 (31, 149): 'LEITZA',
 (31, 191): 'OLITE',
 (31, 201): 'PAMPLONA/IRUÑA',
 (31, 216): 'SANGÜESA/ZANGOZA',
 (31, 232): 'TUDELA',
 (32, 32): 'XINZO DE LIMIA',
 (32, 39): 'LAZA',
 (32, 54): 'OURENSE',
 (33, 4): 'AVILÉS',
 (33, 11): 'CANGAS DEL NARCEA',
 (33, 24): 'GIJÓN',
 (33, 31): 'LANGREO',
 (33, 36): 'LLANES',
 (33, 37): 'MIERES',
 (33, 44): 'OVIEDO',
 (33, 60): 'SAN MARTÍN DEL REY AURELIO',
 (33, 66): 'SIERO',
 (33, 68): 'SOMIEDO',
 (34, 23): 'VENTA DE BAÑOS',
 (34, 80): 'GUARDO',
 (34, 120): 'PALENCIA',
 (34, 225): 'VILLAMURIEL DE CERRATO',
 (35, 2): 'AGÜIMES',
 (35, 4): 'ARRECIFE',
 (35, 6): 'ARUCAS',
 (35, 16): 'PALMAS DE GRAN CANARIA (LAS)',
 (35, 17): 'PUERTO DEL ROSARIO',
 (35, 19): 'SAN BARTOLOMÉ DE TIRAJANA',
 (35, 22): 'SANTA LUCÍA DE TIRAJANA',
 (35, 24): 'TEGUISE',
 (35, 26): 'TELDE',
 (36, 24): 'LALÍN',
 (36, 38): 'PONTEVEDRA',
 (36, 41): 'POIO',
 (36, 42): 'PONTEAREAS',
 (36, 57): 'VIGO',
 (37, 177): 'MAÍLLO (EL)',
 (37, 274): 'SALAMANCA',
 (38, 4): 'ARAFO',
 (38, 5): 'ARICO',
 (38, 6): 'ARONA',
 (38, 8): 'BREÑA ALTA',
 (38, 9): 'BREÑA BAJA',
 (38, 11): 'CANDELARIA',
 (38, 17): 'GRANADILLA DE ABONA',
 (38, 31): 'REALEJOS (LOS)',
 (38, 33): 'SAN ANDRÉS Y SAUCES',
 (38, 36): 'SAN SEBASTIÁN DE LA GOMERA',
 (38, 37): 'SANTA CRUZ DE LA PALMA',
 (38, 38): 'SANTA CRUZ DE TENERIFE',
 (38, 48): 'VALVERDE',
 (39, 8): 'ASTILLERO (EL)',
 (39, 16): 'CAMARGO',
 (39, 20): 'CASTRO-URDIALES',
 (39, 25): 'CORRALES DE BUELNA (LOS)',
 (39, 59): 'REINOSA',
 (39, 75): 'SANTANDER',
 (39, 86): 'TOJOS (LOS)',
 (39, 87): 'TORRELAVEGA',
 (40, 194): 'SEGOVIA',
 (41, 4): 'ALCALÁ DE GUADAIRA',
 (41, 38): 'DOS HERMANAS',
 (41, 49): 'GUILLENA',
 (41, 59): 'MAIRENA DEL ALJARAFE',
 (41, 88): 'SAN NICOLÁS DEL PUERTO',
 (41, 91): 'SEVILLA',
 (42, 124): 'MURIEL DE LA FUENTE',
 (42, 173): 'SORIA',
 (43, 4): 'ALCANAR',
 (43, 5): 'ALCOVER',
 (43, 13): "AMETLLA DE MAR (L')",
 (43, 14): 'AMPOSTA',
 (43, 44): 'SÉNIA (LA)',
 (43, 47): 'CONSTANTÍ',
 (43, 64): 'GANDESA',
 (43, 70): 'GUIAMETS (ELS)',
 (43, 103): 'PERAFORT',
 (43, 123): 'REUS',
 (43, 148): 'TARRAGONA',
 (43, 162): "VANDELLÒS I L'HOSPITALET DE L'INFANT",
 (43, 171): 'VILA-SECA',
 (44, 13): 'ALCAÑIZ',
 (44, 51): 'CALANDA',
 (44, 67): 'CASTELNOU',
 (44, 77): 'CEROLLERA (LA)',
 (44, 216): 'TERUEL',
 (45, 81): 'ILLESCAS',
 (45, 153): 'SAN PABLO DE LOS MONTES',
 (45, 165): 'TALAVERA DE LA REINA',
 (45, 168): 'TOLEDO',
 (45, 200): 'YÉBENES (LOS)',
 (46, 10): 'ALBALAT DELS TARONGERS',
 (46, 17): 'ALZIRA',
 (46, 28): 'ALGAR DE PALANCIA',
 (46, 62): 'BENIGÁNIM',
 (46, 78): 'BURJASSOT',
 (46, 95): 'CAUDETE DE LAS FUENTES',
 (46, 99): 'CORTES DE PALLÁS',
 (46, 102): 'QUART DE POBLET',
 (46, 131): 'GANDIA',
 (46, 184): 'ONTINYENT',
 (46, 190): 'PATERNA',
 (46, 220): 'SAGUNTO/SAGUNT',
 (46, 242): 'TORREBAJA',
 (46, 244): 'TORRENT',
 (46, 250): 'VALENCIA',
 (46, 256): 'VILAMARXANT',
 (46, 258): 'VILLAR DEL ARZOBISPO',
 (46, 263): 'ZARRA',
 (47, 75): 'ÍSCAR',
 (47, 85): 'MEDINA DEL CAMPO',
 (47, 104): 'OLMEDO',
 (47, 186): 'VALLADOLID',
 (48, 2): 'ABANTO Y CIÉRVANA/ABANTO ZIERBENA',
 (48, 3): 'AMOREBIETA-ETXANO',
 (48, 13): 'BARAKALDO',
 (48, 15): 'BASAURI',
 (48, 20): 'BILBAO',
 (48, 27): 'DURANGO',
 (48, 44): 'GETXO',
 (48, 59): 'MAÑARIA',
 (48, 68): 'MUNDAKA',
 (48, 71): 'MUSKIZ',
 (48, 82): 'SANTURTZI',
 (48, 84): 'SESTAO',
 (48, 96): 'ZALLA',
 (48, 902): 'ERANDIO',
 (48, 904): 'SONDIKA',
 (48, 913): 'ZIERBENA',
 (49, 149): 'PEÑAUSENDE',
 (49, 275): 'ZAMORA',
 (50, 8): 'ALAGÓN',
 (50, 59): 'BUJARALOZ',
 (50, 101): 'ESCATRÓN',
 (50, 297): 'ZARAGOZA',
 (51, 1): 'CEUTA'}

In [54]:
# Crear un diccionario vacío para los nombres de las provincias
diccionario_provincias = {}

for index, row in stations_excel.iterrows():
    diccionario_provincias[row['PROVINCIA']] = row['N_PROVINCIA']

diccionario_provincias

{1: 'ÁLAVA',
 2: 'ALBACETE',
 3: 'ALICANTE/ALACANT',
 4: 'ALMERÍA',
 5: 'ÁVILA',
 6: 'BADAJOZ',
 7: 'BALEARS (ILLES)',
 8: 'BARCELONA',
 9: 'BURGOS',
 10: 'CÁCERES',
 11: 'CÁDIZ',
 12: 'CASTELLÓN/CASTELLÓ',
 13: 'CIUDAD REAL',
 14: 'CÓRDOBA',
 15: 'CORUÑA (A)',
 16: 'CUENCA',
 17: 'GIRONA',
 18: 'GRANADA',
 19: 'GUADALAJARA',
 20: 'GUIPÚZCOA',
 21: 'HUELVA',
 22: 'HUESCA',
 23: 'JAÉN',
 24: 'LEÓN',
 25: 'LLEIDA',
 26: 'RIOJA (LA)',
 27: 'LUGO',
 28: 'MADRID',
 29: 'MÁLAGA',
 30: 'MURCIA',
 31: 'NAVARRA',
 32: 'OURENSE',
 33: 'ASTURIAS',
 34: 'PALENCIA',
 35: 'PALMAS (LAS)',
 36: 'PONTEVEDRA',
 37: 'SALAMANCA',
 38: 'SANTA CRUZ DE TENERIFE',
 39: 'CANTABRIA',
 40: 'SEGOVIA',
 41: 'SEVILLA',
 42: 'SORIA',
 43: 'TARRAGONA',
 44: 'TERUEL',
 45: 'TOLEDO',
 46: 'VALENCIA',
 47: 'VALLADOLID',
 48: 'VIZCAYA',
 49: 'ZAMORA',
 50: 'ZARAGOZA',
 51: 'CEUTA'}

In [55]:
dict_ccaa = {(row['PROVINCIA'], row['MUNICIPIO']): row['N_CCAA'] 
                    for index, row in stations_excel.iterrows()}

dict_ccaa

{(1, 22): 'PAÍS VASCO',
 (1, 36): 'PAÍS VASCO',
 (1, 51): 'PAÍS VASCO',
 (1, 55): 'PAÍS VASCO',
 (1, 59): 'PAÍS VASCO',
 (2, 3): 'CASTILLA-LA MANCHA',
 (3, 2): 'COMUNIDAD VALENCIANA',
 (3, 9): 'COMUNIDAD VALENCIANA',
 (3, 14): 'COMUNIDAD VALENCIANA',
 (3, 31): 'COMUNIDAD VALENCIANA',
 (3, 65): 'COMUNIDAD VALENCIANA',
 (3, 66): 'COMUNIDAD VALENCIANA',
 (3, 99): 'COMUNIDAD VALENCIANA',
 (3, 105): 'COMUNIDAD VALENCIANA',
 (3, 133): 'COMUNIDAD VALENCIANA',
 (4, 13): 'ANDALUCÍA',
 (4, 22): 'ANDALUCÍA',
 (4, 24): 'ANDALUCÍA',
 (4, 32): 'ANDALUCÍA',
 (4, 35): 'ANDALUCÍA',
 (4, 66): 'ANDALUCÍA',
 (4, 902): 'ANDALUCÍA',
 (5, 19): 'CASTILLA Y LEÓN',
 (6, 15): 'EXTREMADURA',
 (6, 16): 'EXTREMADURA',
 (6, 22): 'EXTREMADURA',
 (6, 70): 'EXTREMADURA',
 (6, 81): 'EXTREMADURA',
 (6, 83): 'EXTREMADURA',
 (6, 158): 'EXTREMADURA',
 (7, 3): 'BALEARES (ISLAS)',
 (7, 10): 'BALEARES (ISLAS)',
 (7, 15): 'BALEARES (ISLAS)',
 (7, 19): 'BALEARES (ISLAS)',
 (7, 26): 'BALEARES (ISLAS)',
 (7, 32): 'BALEARES (ISLAS)',
 (7, 40): 'BALEARES (ISLAS)',
 (7, 42): 'BALEARES (ISLAS)',
 (7, 44): 'BALEARES (ISLAS)',
 (7, 46): 'BALEARES (ISLAS)',
 (7, 54): 'BALEARES (ISLAS)',
 (8, 14): 'CATALUÑA',
 (8, 15): 'CATALUÑA',
 (8, 19): 'CATALUÑA',
 (8, 22): 'CATALUÑA',
 (8, 54): 'CATALUÑA',
 (8, 74): 'CATALUÑA',
 (8, 89): 'CATALUÑA',
 (8, 96): 'CATALUÑA',
 (8, 101): 'CATALUÑA',
 (8, 102): 'CATALUÑA',
 (8, 112): 'CATALUÑA',
 (8, 113): 'CATALUÑA',
 (8, 114): 'CATALUÑA',
 (8, 121): 'CATALUÑA',
 (8, 123): 'CATALUÑA',
 (8, 124): 'CATALUÑA',
 (8, 125): 'CATALUÑA',
 (8, 136): 'CATALUÑA',
 (8, 137): 'CATALUÑA',
 (8, 157): 'CATALUÑA',
 (8, 169): 'CATALUÑA',
 (8, 184): 'CATALUÑA',
 (8, 187): 'CATALUÑA',
 (8, 194): 'CATALUÑA',
 (8, 196): 'CATALUÑA',
 (8, 202): 'CATALUÑA',
 (8, 205): 'CATALUÑA',
 (8, 245): 'CATALUÑA',
 (8, 251): 'CATALUÑA',
 (8, 252): 'CATALUÑA',
 (8, 259): 'CATALUÑA',
 (8, 260): 'CATALUÑA',
 (8, 263): 'CATALUÑA',
 (8, 274): 'CATALUÑA',
 (8, 279): 'CATALUÑA',
 (8, 282): 'CATALUÑA',
 (8, 283): 'CATALUÑA',
 (8, 298): 'CATALUÑA',
 (8, 301): 'CATALUÑA',
 (8, 305): 'CATALUÑA',
 (8, 307): 'CATALUÑA',
 (9, 18): 'CASTILLA Y LEÓN',
 (9, 59): 'CASTILLA Y LEÓN',
 (9, 209): 'CASTILLA Y LEÓN',
 (9, 219): 'CASTILLA Y LEÓN',
 (10, 37): 'EXTREMADURA',
 (10, 148): 'EXTREMADURA',
 (10, 182): 'EXTREMADURA',
 (11, 4): 'ANDALUCÍA',
 (11, 6): 'ANDALUCÍA',
 (11, 8): 'ANDALUCÍA',
 (11, 12): 'ANDALUCÍA',
 (11, 20): 'ANDALUCÍA',
 (11, 22): 'ANDALUCÍA',
 (11, 26): 'ANDALUCÍA',
 (11, 28): 'ANDALUCÍA',
 (11, 31): 'ANDALUCÍA',
 (11, 33): 'ANDALUCÍA',
 (12, 5): 'COMUNIDAD VALENCIANA',
 (12, 9): 'COMUNIDAD VALENCIANA',
 (12, 28): 'COMUNIDAD VALENCIANA',
 (12, 32): 'COMUNIDAD VALENCIANA',
 (12, 40): 'COMUNIDAD VALENCIANA',
 (12, 46): 'COMUNIDAD VALENCIANA',
 (12, 80): 'COMUNIDAD VALENCIANA',
 (12, 84): 'COMUNIDAD VALENCIANA',
 (12, 93): 'COMUNIDAD VALENCIANA',
 (12, 99): 'COMUNIDAD VALENCIANA',
 (12, 120): 'COMUNIDAD VALENCIANA',
 (12, 124): 'COMUNIDAD VALENCIANA',
 (12, 126): 'COMUNIDAD VALENCIANA',
 (12, 129): 'COMUNIDAD VALENCIANA',
 (12, 135): 'COMUNIDAD VALENCIANA',
 (12, 140): 'COMUNIDAD VALENCIANA',
 (12, 141): 'COMUNIDAD VALENCIANA',
 (13, 34): 'CASTILLA-LA MANCHA',
 (13, 71): 'CASTILLA-LA MANCHA',
 (14, 21): 'ANDALUCÍA',
 (14, 26): 'ANDALUCÍA',
 (14, 47): 'ANDALUCÍA',
 (14, 68): 'ANDALUCÍA',
 (15, 5): 'GALICIA',
 (15, 23): 'GALICIA',
 (15, 24): 'GALICIA',
 (15, 30): 'GALICIA',
 (15, 32): 'GALICIA',
 (15, 34): 'GALICIA',
 (15, 36): 'GALICIA',
 (15, 41): 'GALICIA',
 (15, 55): 'GALICIA',
 (15, 57): 'GALICIA',
 (15, 59): 'GALICIA',
 (15, 70): 'GALICIA',
 (15, 78): 'GALICIA',
 (16, 78): 'CASTILLA-LA MANCHA',
 (17, 1): 'CATALUÑA',
 (17, 13): 'CATALUÑA',
 (17, 22): 'CATALUÑA',
 (17, 27): 'CATALUÑA',
 (17, 32): 'CATALUÑA',
 (17, 44): 'CATALUÑA',
 (17, 79): 'CATALUÑA',
 (17, 125): 'CATALUÑA',
 (17, 184): 'CATALUÑA',
 (18, 21): 'ANDALUCÍA',
 (18, 87): 'ANDALUCÍA',
 (18, 140): 'ANDALUCÍA',
 (18, 189): 'ANDALUCÍA',
 (19, 46): 'CASTILLA-LA MANCHA',
 (19, 61): 'CASTILLA-LA MANCHA',
 (19, 130): 'CASTILLA-LA MANCHA',
 (20, 9): 'PAÍS VASCO',
 (20, 16): 'PAÍS VASCO',
 (20, 18): 'PAÍS VASCO',
 (20, 19): 'PAÍS VASCO',
 (20, 36): 'PAÍS VASCO',
 (20, 40): 'PAÍS VASCO',
 (20, 55): 'PAÍS VASCO',
 (20, 69): 'PAÍS VASCO',
 (20, 71): 'PAÍS VASCO',
 (20, 73): 'PAÍS VASCO',
 (20, 80): 'PAÍS VASCO',
 (20, 902): 'PAÍS VASCO',
 (21, 5): 'ANDALUCÍA',
 (21, 41): 'ANDALUCÍA',
 (21, 50): 'ANDALUCÍA',
 (21, 53): 'ANDALUCÍA',
 (21, 55): 'ANDALUCÍA',
 (21, 60): 'ANDALUCÍA',
 (21, 64): 'ANDALUCÍA',
 (22, 125): 'ARAGÓN',
 (22, 158): 'ARAGÓN',
 (22, 190): 'ARAGÓN',
 (22, 199): 'ARAGÓN',
 (22, 213): 'ARAGÓN',
 (23, 10): 'ANDALUCÍA',
 (23, 50): 'ANDALUCÍA',
 (23, 97): 'ANDALUCÍA',
 (24, 25): 'CASTILLA Y LEÓN',
 (24, 38): 'CASTILLA Y LEÓN',
 (24, 64): 'CASTILLA Y LEÓN',
 (24, 89): 'CASTILLA Y LEÓN',
 (24, 115): 'CASTILLA Y LEÓN',
 (24, 134): 'CASTILLA Y LEÓN',
 (24, 143): 'CASTILLA Y LEÓN',
 (24, 181): 'CASTILLA Y LEÓN',
 (25, 51): 'CATALUÑA',
 (25, 119): 'CATALUÑA',
 (25, 120): 'CATALUÑA',
 (25, 172): 'CATALUÑA',
 (25, 196): 'CATALUÑA',
 (25, 209): 'CATALUÑA',
 (25, 224): 'CATALUÑA',
 (26, 11): 'RIOJA (LA)',
 (26, 19): 'RIOJA (LA)',
 (26, 66): 'RIOJA (LA)',
 (26, 89): 'RIOJA (LA)',
 (26, 117): 'RIOJA (LA)',
 (27, 13): 'GALICIA',
 (27, 25): 'GALICIA',
 (27, 28): 'GALICIA',
 (27, 33): 'GALICIA',
 (27, 38): 'GALICIA',
 (27, 57): 'GALICIA',
 (27, 58): 'GALICIA',
 (27, 65): 'GALICIA',
 (27, 902): 'GALICIA',
 (28, 5): 'MADRID',
 (28, 6): 'MADRID',
 (28, 7): 'MADRID',
 (28, 9): 'MADRID',
 (28, 13): 'MADRID',
 (28, 14): 'MADRID',
 (28, 16): 'MADRID',
 (28, 45): 'MADRID',
 (28, 47): 'MADRID',
 (28, 49): 'MADRID',
 (28, 58): 'MADRID',
 (28, 65): 'MADRID',
 (28, 67): 'MADRID',
 (28, 74): 'MADRID',
 (28, 79): 'MADRID',
 (28, 80): 'MADRID',
 (28, 92): 'MADRID',
 (28, 102): 'MADRID',
 (28, 120): 'MADRID',
 (28, 123): 'MADRID',
 (28, 133): 'MADRID',
 (28, 148): 'MADRID',
 (28, 161): 'MADRID',
 (28, 171): 'MADRID',
 (28, 180): 'MADRID',
 (29, 32): 'ANDALUCÍA',
 (29, 67): 'ANDALUCÍA',
 (29, 69): 'ANDALUCÍA',
 (30, 5): 'MURCIA (REGIÓN DE)',
 (30, 15): 'MURCIA (REGIÓN DE)',
 (30, 16): 'MURCIA (REGIÓN DE)',
 (30, 24): 'MURCIA (REGIÓN DE)',
 (30, 30): 'MURCIA (REGIÓN DE)',
 (31, 10): 'NAVARRA (COMUNIDAD FORAL)',
 (31, 107): 'NAVARRA (COMUNIDAD FORAL)',
 (31, 149): 'NAVARRA (COMUNIDAD FORAL)',
 (31, 191): 'NAVARRA (COMUNIDAD FORAL)',
 (31, 201): 'NAVARRA (COMUNIDAD FORAL)',
 (31, 216): 'NAVARRA (COMUNIDAD FORAL)',
 (31, 232): 'NAVARRA (COMUNIDAD FORAL)',
 (32, 32): 'GALICIA',
 (32, 39): 'GALICIA',
 (32, 54): 'GALICIA',
 (33, 4): 'ASTURIAS (PRINCIPADO DE)',
 (33, 11): 'ASTURIAS (PRINCIPADO DE)',
 (33, 24): 'ASTURIAS (PRINCIPADO DE)',
 (33, 31): 'ASTURIAS (PRINCIPADO DE)',
 (33, 36): 'ASTURIAS (PRINCIPADO DE)',
 (33, 37): 'ASTURIAS (PRINCIPADO DE)',
 (33, 44): 'ASTURIAS (PRINCIPADO DE)',
 (33, 60): 'ASTURIAS (PRINCIPADO DE)',
 (33, 66): 'ASTURIAS (PRINCIPADO DE)',
 (33, 68): 'ASTURIAS (PRINCIPADO DE)',
 (34, 23): 'CASTILLA Y LEÓN',
 (34, 80): 'CASTILLA Y LEÓN',
 (34, 120): 'CASTILLA Y LEÓN',
 (34, 225): 'CASTILLA Y LEÓN',
 (35, 2): 'CANARIAS',
 (35, 4): 'CANARIAS',
 (35, 6): 'CANARIAS',
 (35, 16): 'CANARIAS',
 (35, 17): 'CANARIAS',
 (35, 19): 'CANARIAS',
 (35, 22): 'CANARIAS',
 (35, 24): 'CANARIAS',
 (35, 26): 'CANARIAS',
 (36, 24): 'GALICIA',
 (36, 38): 'GALICIA',
 (36, 41): 'GALICIA',
 (36, 42): 'GALICIA',
 (36, 57): 'GALICIA',
 (37, 177): 'CASTILLA Y LEÓN',
 (37, 274): 'CASTILLA Y LEÓN',
 (38, 4): 'CANARIAS',
 (38, 5): 'CANARIAS',
 (38, 6): 'CANARIAS',
 (38, 8): 'CANARIAS',
 (38, 9): 'CANARIAS',
 (38, 11): 'CANARIAS',
 (38, 17): 'CANARIAS',
 (38, 31): 'CANARIAS',
 (38, 33): 'CANARIAS',
 (38, 36): 'CANARIAS',
 (38, 37): 'CANARIAS',
 (38, 38): 'CANARIAS',
 (38, 48): 'CANARIAS',
 (39, 8): 'CANTABRIA',
 (39, 16): 'CANTABRIA',
 (39, 20): 'CANTABRIA',
 (39, 25): 'CANTABRIA',
 (39, 59): 'CANTABRIA',
 (39, 75): 'CANTABRIA',
 (39, 86): 'CANTABRIA',
 (39, 87): 'CANTABRIA',
 (40, 194): 'CASTILLA Y LEÓN',
 (41, 4): 'ANDALUCÍA',
 (41, 38): 'ANDALUCÍA',
 (41, 49): 'ANDALUCÍA',
 (41, 59): 'ANDALUCÍA',
 (41, 88): 'ANDALUCÍA',
 (41, 91): 'ANDALUCÍA',
 (42, 124): 'CASTILLA Y LEÓN',
 (42, 173): 'CASTILLA Y LEÓN',
 (43, 4): 'CATALUÑA',
 (43, 5): 'CATALUÑA',
 (43, 13): 'CATALUÑA',
 (43, 14): 'CATALUÑA',
 (43, 44): 'CATALUÑA',
 (43, 47): 'CATALUÑA',
 (43, 64): 'CATALUÑA',
 (43, 70): 'CATALUÑA',
 (43, 103): 'CATALUÑA',
 (43, 123): 'CATALUÑA',
 (43, 148): 'CATALUÑA',
 (43, 162): 'CATALUÑA',
 (43, 171): 'CATALUÑA',
 (44, 13): 'ARAGÓN',
 (44, 51): 'ARAGÓN',
 (44, 67): 'ARAGÓN',
 (44, 77): 'ARAGÓN',
 (44, 216): 'ARAGÓN',
 (45, 81): 'CASTILLA-LA MANCHA',
 (45, 153): 'CASTILLA-LA MANCHA',
 (45, 165): 'CASTILLA-LA MANCHA',
 (45, 168): 'CASTILLA-LA MANCHA',
 (45, 200): 'CASTILLA-LA MANCHA',
 (46, 10): 'COMUNIDAD VALENCIANA',
 (46, 17): 'COMUNIDAD VALENCIANA',
 (46, 28): 'COMUNIDAD VALENCIANA',
 (46, 62): 'COMUNIDAD VALENCIANA',
 (46, 78): 'COMUNIDAD VALENCIANA',
 (46, 95): 'COMUNIDAD VALENCIANA',
 (46, 99): 'COMUNIDAD VALENCIANA',
 (46, 102): 'COMUNIDAD VALENCIANA',
 (46, 131): 'COMUNIDAD VALENCIANA',
 (46, 184): 'COMUNIDAD VALENCIANA',
 (46, 190): 'COMUNIDAD VALENCIANA',
 (46, 220): 'COMUNIDAD VALENCIANA',
 (46, 242): 'COMUNIDAD VALENCIANA',
 (46, 244): 'COMUNIDAD VALENCIANA',
 (46, 250): 'COMUNIDAD VALENCIANA',
 (46, 256): 'COMUNIDAD VALENCIANA',
 (46, 258): 'COMUNIDAD VALENCIANA',
 (46, 263): 'COMUNIDAD VALENCIANA',
 (47, 75): 'CASTILLA Y LEÓN',
 (47, 85): 'CASTILLA Y LEÓN',
 (47, 104): 'CASTILLA Y LEÓN',
 (47, 186): 'CASTILLA Y LEÓN',
 (48, 2): 'PAÍS VASCO',
 (48, 3): 'PAÍS VASCO',
 (48, 13): 'PAÍS VASCO',
 (48, 15): 'PAÍS VASCO',
 (48, 20): 'PAÍS VASCO',
 (48, 27): 'PAÍS VASCO',
 (48, 44): 'PAÍS VASCO',
 (48, 59): 'PAÍS VASCO',
 (48, 68): 'PAÍS VASCO',
 (48, 71): 'PAÍS VASCO',
 (48, 82): 'PAÍS VASCO',
 (48, 84): 'PAÍS VASCO',
 (48, 96): 'PAÍS VASCO',
 (48, 902): 'PAÍS VASCO',
 (48, 904): 'PAÍS VASCO',
 (48, 913): 'PAÍS VASCO',
 (49, 149): 'CASTILLA Y LEÓN',
 (49, 275): 'CASTILLA Y LEÓN',
 (50, 8): 'ARAGÓN',
 (50, 59): 'ARAGÓN',
 (50, 101): 'ARAGÓN',
 (50, 297): 'ARAGÓN',
 (51, 1): 'CEUTA'}

In [56]:
# Crear clave para agregar la CCAA
pollutants['CLAVE_COMBINADA'] = pollutants.apply(lambda x: (x['PROVINCIA'], x['MUNICIPIO']), axis=1)
pollutants['N_CCAA'] = pollutants['CLAVE_COMBINADA'].map(dict_ccaa)
pollutants.drop('CLAVE_COMBINADA', axis=1, inplace=True)

In [57]:
# Crear el diccionario longitud
dicc_longitude = {(row['PROVINCIA'], row['MUNICIPIO'], row['ESTACION']): row['LONGITUD_G'] for index, row in stations_excel.iterrows()}

# Crear el diccionario latitud
dicc_latitude = {(row['PROVINCIA'], row['MUNICIPIO'], row['ESTACION']): row['LATITUD_G'] for index, row in stations_excel.iterrows()}

In [58]:
# Función para mapear cada fila al valor del diccionario
def mapear_latitud(row):
    # Crea una tupla con los valores de la fila
    clave = (row['PROVINCIA'], row['MUNICIPIO'], row['ESTACION'])
    # Devuelve el valor correspondiente del diccionario
    return dicc_latitude.get(clave, None)  # Retorna None si la clave no existe

# Aplica la función a cada fila y crea una nueva columna
pollutants['LATITUD'] = pollutants.apply(mapear_latitud, axis=1)

In [59]:
# Función para mapear cada fila al valor del diccionario
def mapear_longitud(row):
    # Crea una tupla con los valores de la fila
    clave = (row['PROVINCIA'], row['MUNICIPIO'], row['ESTACION'])
    # Devuelve el valor correspondiente del diccionario
    return dicc_longitude.get(clave, None)  # Retorna None si la clave no existe

# Aplica la función a cada fila y crea una nueva columna
pollutants['LONGITUD'] = pollutants.apply(mapear_longitud, axis=1)

In [60]:
# Crear clave combinada en el DataFrame objetivo para crear la columna con los nombres de los municipios
pollutants['LOC_MUNIC'] = pollutants.apply(lambda x: (x['PROVINCIA'], x['MUNICIPIO']), axis=1)

# Usar el método .map() para mapear los nombres de municipio usando el diccionario.
pollutants['N_MUNICIPIO'] = pollutants['LOC_MUNIC'].map(diccionario_municipios)

pollutants.drop('LOC_MUNIC', axis=1, inplace=True)

In [61]:
# Agregar diccionarios de las magnitudes y provincias
pollutants['MAGNITUD'] = pollutants['MAGNITUD'].map(measured_dict)
pollutants['PROVINCIA'] = pollutants['PROVINCIA'].map(diccionario_provincias)
pollutants

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,H01,H02,H03,H04,H05,H06,...,H20,H21,H22,H23,H24,FECHA,N_CCAA,LATITUD,LONGITUD,N_MUNICIPIO
0,ÁLAVA,59,8,C6H6,1.58,0.73,0.55,0.68,0.65,0.72,...,NaN,NaN,NaN,NaN,NaN,2022-01-01,PAÍS VASCO,42.8548,-2.6807,VITORIA-GASTEIZ
1,ÁLAVA,59,8,C6H6,NaN,NaN,NaN,NaN,NaN,NaN,...,0.54,0.69,0.32,0.17,0.17,2022-01-03,PAÍS VASCO,42.8548,-2.6807,VITORIA-GASTEIZ
2,ÁLAVA,59,8,C6H6,0.16,0.16,0.18,0.18,0.14,0.15,...,0.28,0.25,0.20,0.20,0.22,2022-01-04,PAÍS VASCO,42.8548,-2.6807,VITORIA-GASTEIZ
3,ÁLAVA,59,8,C6H6,0.23,0.26,0.22,0.20,0.21,0.23,...,0.51,0.51,0.51,0.48,0.41,2022-01-05,PAÍS VASCO,42.8548,-2.6807,VITORIA-GASTEIZ
4,ÁLAVA,59,8,C6H6,0.36,0.31,0.32,0.33,0.32,0.33,...,0.32,0.32,0.30,0.30,0.28,2022-01-06,PAÍS VASCO,42.8548,-2.6807,VITORIA-GASTEIZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819609,CEUTA,1,1,SO2,1.64,1.50,1.47,1.44,1.58,1.38,...,8.01,11.66,3.28,5.70,5.62,2022-12-16,CEUTA,35.8930,-5.3147,CEUTA
819610,CEUTA,1,1,SO2,2.30,2.15,2.17,2.05,1.82,1.74,...,1.65,1.68,1.39,1.30,1.28,2022-12-25,CEUTA,35.8930,-5.3147,CEUTA
819611,CEUTA,1,1,SO2,1.40,1.22,1.22,1.11,1.04,1.16,...,2.77,2.66,2.51,2.42,2.52,2022-12-26,CEUTA,35.8930,-5.3147,CEUTA
819612,CEUTA,1,1,SO2,1.68,1.40,1.52,1.66,1.53,1.57,...,2.12,1.61,1.57,1.88,1.62,2022-12-28,CEUTA,35.8930,-5.3147,CEUTA
819613,CEUTA,1,1,SO2,3.86,3.54,3.87,4.46,4.78,4.35,...,1.97,1.78,1.51,NaN,NaN,2022-12-30,CEUTA,35.8930,-5.3147,CEUTA

In [62]:
# Crear el diccionario para el tipo de área
dicc_area = {(row['LATITUD_G'], row['LONGITUD_G']): row['TIPO_AREA'] for index, row in stations_excel.iterrows()}

In [63]:
# Crear el diccionario para el tipo de estación
dicc_tipoestacion = {(row['LATITUD_G'], row['LONGITUD_G']): row['TIPO_ESTACION'] for index, row in stations_excel.iterrows()}

In [64]:
# Función para mapear cada fila al valor del diccionario del tipo de area
def mapear_area(row):
    # Crea una tupla con los valores de la fila
    clave = (row['LATITUD'], row['LONGITUD'])
    # Devuelve el valor correspondiente del diccionario
    return dicc_area.get(clave, None)  # Retorna None si la clave no existe

# Aplica la función a cada fila y crea una nueva columna
pollutants['TIPO_AREA'] = pollutants.apply(mapear_area, axis=1)

In [65]:
# Función para mapear cada fila al valor del diccionario del tipo de estacion
def mapear_estacion(row):
    # Crea una tupla con los valores de la fila
    clave = (row['LATITUD'], row['LONGITUD'])
    # Devuelve el valor correspondiente del diccionario
    return dicc_tipoestacion.get(clave, None)  # Retorna None si la clave no existe

# Aplica la función a cada fila y crea una nueva columna
pollutants['TIPO_ESTACION'] = pollutants.apply(mapear_estacion, axis=1)

In [66]:
# Cambiar el orden de las columnas

# Nombres de las columnas de horas en orden
columnas_horas = ['H01', 'H02', 'H03', 'H04', 'H05', 'H06', 'H07', 'H08', 'H09', 'H10', 
                  'H11', 'H12', 'H13', 'H14', 'H15', 'H16', 'H17', 'H18', 'H19', 'H20', 
                  'H21', 'H22', 'H23', 'H24']

# Nuevo orden de las columnas
nuevo_orden = ['FECHA', 'N_CCAA', 'PROVINCIA', 'N_MUNICIPIO', 'ESTACION', 'MAGNITUD', 'TIPO_AREA', 'TIPO_ESTACION', 'LATITUD', 'LONGITUD'] + columnas_horas

pollutants = pollutants[nuevo_orden]
pollutants

,FECHA,N_CCAA,PROVINCIA,N_MUNICIPIO,ESTACION,MAGNITUD,TIPO_AREA,TIPO_ESTACION,LATITUD,LONGITUD,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,2022-01-01,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,URBANA,TRAFICO,42.8548,-2.6807,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-03,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,URBANA,TRAFICO,42.8548,-2.6807,...,0.23,0.22,0.23,0.58,0.24,0.54,0.69,0.32,0.17,0.17
2,2022-01-04,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,URBANA,TRAFICO,42.8548,-2.6807,...,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
3,2022-01-05,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,URBANA,TRAFICO,42.8548,-2.6807,...,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
4,2022-01-06,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,URBANA,TRAFICO,42.8548,-2.6807,...,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819609,2022-12-16,CEUTA,CEUTA,CEUTA,1,SO2,URBANA,FONDO,35.8930,-5.3147,...,15.03,25.54,12.58,38.78,17.84,8.01,11.66,3.28,5.70,5.62
819610,2022-12-25,CEUTA,CEUTA,CEUTA,1,SO2,URBANA,FONDO,35.8930,-5.3147,...,2.72,2.27,2.07,2.00,1.79,1.65,1.68,1.39,1.30,1.28
819611,2022-12-26,CEUTA,CEUTA,CEUTA,1,SO2,URBANA,FONDO,35.8930,-5.3147,...,3.31,3.77,2.82,2.47,2.79,2.77,2.66,2.51,2.42,2.52
819612,2022-12-28,CEUTA,CEUTA,CEUTA,1,SO2,URBANA,FONDO,35.8930,-5.3147,...,1.88,1.71,1.66,1.70,1.58,2.12,1.61,1.57,1.88,1.62
819613,2022-12-30,CEUTA,CEUTA,CEUTA,1,SO2,URBANA,FONDO,35.8930,-5.3147,...,2.89,NaN,2.29,2.10,2.23,1.97,1.78,1.51,NaN,NaN

In [67]:
pollutants = pollutants.dropna()
pollutants

,FECHA,N_CCAA,PROVINCIA,N_MUNICIPIO,ESTACION,MAGNITUD,TIPO_AREA,TIPO_ESTACION,LATITUD,LONGITUD,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
2,2022-01-04,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,URBANA,TRAFICO,42.8548,-2.6807,...,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
3,2022-01-05,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,URBANA,TRAFICO,42.8548,-2.6807,...,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
4,2022-01-06,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,URBANA,TRAFICO,42.8548,-2.6807,...,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28
5,2022-01-07,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,URBANA,TRAFICO,42.8548,-2.6807,...,0.28,0.29,0.28,0.32,0.31,0.23,0.25,0.29,0.29,0.28
6,2022-01-08,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,8,C6H6,URBANA,TRAFICO,42.8548,-2.6807,...,0.25,0.20,0.23,0.25,0.25,0.23,0.20,0.22,0.22,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819608,2022-12-13,CEUTA,CEUTA,CEUTA,1,SO2,URBANA,FONDO,35.8930,-5.3147,...,2.22,2.43,3.32,6.62,19.11,17.15,8.29,29.35,24.51,24.16
819609,2022-12-16,CEUTA,CEUTA,CEUTA,1,SO2,URBANA,FONDO,35.8930,-5.3147,...,15.03,25.54,12.58,38.78,17.84,8.01,11.66,3.28,5.70,5.62
819610,2022-12-25,CEUTA,CEUTA,CEUTA,1,SO2,URBANA,FONDO,35.8930,-5.3147,...,2.72,2.27,2.07,2.00,1.79,1.65,1.68,1.39,1.30,1.28
819611,2022-12-26,CEUTA,CEUTA,CEUTA,1,SO2,URBANA,FONDO,35.8930,-5.3147,...,3.31,3.77,2.82,2.47,2.79,2.77,2.66,2.51,2.42,2.52
819612,2022-12-28,CEUTA,CEUTA,CEUTA,1,SO2,URBANA,FONDO,35.8930,-5.3147,...,1.88,1.71,1.66,1.70,1.58,2.12,1.61,1.57,1.88,1.62

In [68]:
# Guardar dataframe procesado
pollutants_clean = pollutants.to_csv('../data/processed/clean_pollutants.csv', index=False)

In [69]:
pollutants.info()

<class 'pandas.core.frame.DataFrame'>
Index: 715747 entries, 2 to 819612
Data columns (total 34 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   FECHA          715747 non-null  datetime64[ns]
 1   N_CCAA         715747 non-null  object
 2   PROVINCIA      715747 non-null  object
 3   N_MUNICIPIO    715747 non-null  object
 4   ESTACION       715747 non-null  int64
 5   MAGNITUD       715747 non-null  object
 6   TIPO_AREA      715747 non-null  object
 7   TIPO_ESTACION  715747 non-null  object
 8   LATITUD        715747 non-null  float64
 9   LONGITUD       715747 non-null  float64
 10  H01            715747 non-null  float64
 11  H02            715747 non-null  float64
 12  H03            715747 non-null  float64
 13  H04            715747 non-null  float64
 14  H05            715747 non-null  float64
 15  H06            715747 non-null  float64
 16  H07            715747 non-null  float64
 17  H08            715747 non-null  float64
 18  H09            715747 non-null  float64
 19  H10            715747 non-null  float64
 20  H11            715747 non-null  float64
 21  H12            715747 non-null  float64
 22  H13            715747 non-null  float64
 23  H14            715747 non-null  float64
 24  H15            715747 non-null  float64
 25  H16            715747 non-null  float64
 26  H17            715747 non-null  float64
 27  H18            715747 non-null  float64
 28  H19            715747 non-null  float64
 29  H20            715747 non-null  float64
 30  H21            715747 non-null  float64
 31  H22            715747 non-null  float64
 32  H23            715747 non-null  float64
 33  H24            715747 non-null  float64
dtypes: datetime64[ns](1), float64(26), int64(1), object(6)
memory usage: 191.1+ MB

: